:root{
  --main-bg-color:#15151e;
  --red-color: #e10600;
  --gray-color: #38383f;
  --color-1: #d0d0d2;
}

/* font family = F1Black ? */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');  */
/* @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i); */
@font-face {
  font-family: 'Formula1 Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Formula1 Bold'), url(https://github.com/DataScientest-Studio/f1_bookmakers/raw/main/streamlit_app/fonts/Formula1-Bold_web_0.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/zendots/v10/XRXX3ICfm00IGoesQdaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.css-ffhzg2 {
  background-color: var(--main-bg-color);
}

.css-12oz5g7 {
  max-width: 70rem;
}

h1 {
  font-family: 'Zen Dots';
}

.css-13sdm1b {
  font-family: "Titillium Web";
}

.css-b7s55g {
  background-color: var(--main-bg-color);
  width: 15rem;
  border-right: 10px solid var(--gray-color);
}

/* h1,
h2,
h3,
h4 {
  color: #000000;
}

code {
  color: #1ec3bc;
} */

/* #MainMenu {
  display: none;
} */

div[data-testid="stDecoration"] {
  display: none;
}

footer {
  display: none !important;
}

/* Radio buttons */

/* .st-cc {
  color: black;
  font-weight: 500;
} */


/* Intro */

section[tabindex="0"] div[data-testid="stVerticalBlock"] div[data-testid="stImage"] {
  border-top: 8px solid var(--red-color);
  border-right: 8px solid var(--red-color);
  border-top-right-radius: 23px;
}

section[tabindex="0"] h1 {
  border-top: 1px solid var(--color-1);
  border-right: 1px solid var(--color-1);
  border-top-right-radius: 25px;
}

section[tabindex="0"] div[data-testid="stVerticalBlock"] div[data-testid="stImage"] img {
  border-top-right-radius: 15px;
}

/* Sidebar */

/* section[data-testid="stSidebar"] > div {
  background-color: #10b8dd;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

section[data-testid="stSidebar"] button[title="View fullscreen"] {
  display: none;
}

section[data-testid="stSidebar"] button[kind="icon"] {
  display: none;
}

section[data-testid="stSidebar"] .st-bk {
  background-color: white;
}

section[data-testid="stSidebar"] .st-c0 {
  background-color: black;
}

section[data-testid="stSidebar"] hr {
  margin-top: 30px;
  border-color: white;
  width: 50px;
}

section[data-testid="stSidebar"] h2 {
  color: white;
} */

/* Images */

/* button[title="View fullscreen"] {
  display: none;
} */

/* hr */

/* hr {
  width: 200px;
  border-width: 5px;
  border-color: #10b8dd;
  margin-top: 0px;
} */

/* First Page */

/* section[tabindex="0"] .block-container {
  padding-top: 0px;
  padding-bottom: 0px;
} */
